@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div id="bucket">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        @if (ViewBag.msg != null)
        {
            <h4>@ViewBag.msg</h4>
        }
        <p>
            Please check your email to reset your password.
        </p>

    </div>
</div>

