@model IEnumerable<Recruitment_Portal_System.Models.UserRoleModel>

@{
    ViewBag.Title = "Role Management";
}

<div id="bucket">
    <h2 id="">Users Role Mapping</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.User)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                </tr>
            </thead>

            <tbody class="table-group-divider">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                      
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>





