@{
    ViewBag.Title = "Home Page";
}

<style>

    #TitleBox {
        padding: 2px 10px 5px 5px;
        font-family: 'Verdana';
        margin-top: 10px;
        background-color: white;
        border-radius: 10px 10px;
        text-align: center;
    }

    #SubHeadings {
        padding: 2px 10px 5px 5px;
        font-family: 'Verdana';
        margin-top: 10px;
        background-color: #0d0c0c;
        color: white;
        border-radius: 10px 10px;
        opacity: 0.8;
        text-align: left;
    }


    #guideBucket ol li {
        list-style: lower-alpha;
    }

    #guideBucket p {
        text-align: justify;
    }
</style>

<!--Slider-->
<!--GET IMAGE FROM DB AND ADD LINK POINTING TO THE BLOG POST-
    RECENT POST HAS TO BE THE FIRST SLIDE IMAGE-->
<div id="flashPanel">
    <div class="row">

        <div class="col align-self-center">
            <div class="text-center">
                <div class="d-md-none">
                    <div id="carouselExampleInterval" class="carousel slide" data-bs-interval="5000" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="" height="210" width="350" src="~/Images/inec1.png" />
                            </div>
                            <div class="carousel-item">
                                <img class="" height="210" width="350" src="~/Images/job1.png" />
                            </div>
                            <div class="carousel-item">
                                <img class="" height="210" width="350" src="~/Images/job2.png" />
                            </div>
                            <div class="carousel-item">
                                <img class="" height="210" width="350" src="~/Images/job3.png" />
                            </div>
                            <div class="carousel-item">
                                <img class="" height="210" width="350" src="~/Images/intenship1.png" />
                            </div>
                            <div class="carousel-item">
                                <img class="" height="210" width="350" src="~/Images/jobportal.png" />
                            </div>
                            <div class="carousel-item">
                                <img class="" height="210" width="350" src="~/Images/inec6.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-block">
                    <div id="carouselExampleInterval" class="carousel slide" data-bs-interval="5000" data-bs-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="" height="516" width="860" src="~/Images/inec1.png" />
                            </div>
                            <div class="carousel-item">
                                <img class="" height="516" width="860" src="~/Images/job1.png" />
                            </div>
                            <div class="carousel-item">
                                <img class="" height="516" width="860" src="~/Images/job2.png" />
                            </div>
                            <div class="carousel-item">
                                <img class="" height="516" width="860" src="~/Images/job3.png" />
                            </div>
                            <div class="carousel-item">
                                <img class="" height="516" width="860" src="~/Images/intenship1.png" />
                            </div>
                            <div class="carousel-item">
                                <img class="" height="516" width="860" src="~/Images/jobportal.png" />
                            </div>
                            <div class="carousel-item">
                                <img class="" height="516" width="860" src="~/Images/inec6.jpg" />
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<!--End Slider-->
<br />

<div class="" id="bucket">

    @if (ViewBag.Msg != null)
    {
        <p id="msg" style="display:none">@ViewBag.Msg</p>
    }

    <div id="SubHeadings">
        <h3 class="fw-bold mt-3 p-3 text-center">Independent National Electoral Commission (INEC) Portal</h3>
    </div>

    <div class=" p-3 mt-2">

        <p>

            The Independent National Electoral Commission (INEC) was established by 
            the 1999 Constitution of the Federal Republic of Nigeria to among 
            other things organize elections into various political offices in the country. 
            The functions of INEC as contained in Section 15, Part 1 of the Third 
            Schedule of the 1999 Constitution (As Amended) and Section 2 of the 
            Electoral Act 2010 (As Amended)
        </p>
        <hr />

    </div>

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var Smsg = $("#msg").text();
        if (Smsg.trim() != "") {
            alert(Smsg);
        }


    })

</script>